<div class="profile-box">
    <h1><i class="fas fa-user"></i> Edytuj Profil</h1>
    <form [formGroup]="form">
      <div class="personal_data_box">
        <h1>Dane Osobowe:</h1>
        <h2 style="border-bottom: 0px;">Imię:</h2>
        <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Pole Imię musi być wypełnione!</div>
            </div>
        </div>
        <h2 style="border-bottom: 0px;">Nazwisko:</h2>
        <div class="form-group">
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Pole Nazwisko musi być wypełnione!</div>
            </div>
        </div>
        <h2>Data Urodzenia:<h3>{{patient.dateOfBirth}}</h3></h2>
        <h2>PESEL:<h3>{{patient.pesel}}</h3></h2>
      </div>
          
      <div class="personal_data_box">
          <h1>Adres Zamieszkania: </h1>
          <h2 style="border-bottom: 0px;">Ulica:</h2>
          <div class="form-group">
            <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
            <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Pole Ulica musi być wypełnione!</div>
            </div>
          </div>
          <h2 style="border-bottom: 0px;">Miasto:</h2>
          <div class="form-group">
            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">Pole Imię musi być wypełnione!</div>
            </div>
          </div>
          <h2 style="border-bottom: 0px;">Województwo:</h2>
          <div class="form-group">
            <select type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                <option [value]="state" *ngFor="let state of states" class="option-box">
                    {{state}}
                </option>
            </select>
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">Pole Województwo musi być wybrane!</div>
            </div>
          </div>
          <div class="help_box1">
            &nbsp;
          </div>
      </div>
          
      <div style="margin-right: 0px"class="personal_data_box">
          <h1>Dane Kontaktowe: </h1>
          <h2 style="border-bottom: 0px;">Telefon:</h2>
          <div class="form-group">
            <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Pole Telefon musi być wypełnione!</div>
            </div>
          </div>
          <h2 style="border-bottom: 0px;">E-mail:</h2>
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Pole E-mail musi być wypełnione!</div>
            </div>
          </div>
          <div class="help_box2">
            &nbsp;
          </div>
      </div>
      <div class="button-box">
        <div class="button-position">
          <button (click)="onSubmitcheck()" class="form-button">
            Zapisz zmiany
          </button>
        </div>
        <div class="button-position">
          <button routerLink="/profile" class="form-button">
            Powrót
          </button>
        </div>
      </div>
    </form> 
</div>

<div class="floating-box" *ngIf="accept">
  <div class="accept-box">
    <h1>Czy napewno chcesz zmienić dane?</h1>
    <h2>Po zmianie możesz ponownie zmieniać dane!</h2>
    <div class="button-box">
      <div class="button-position2">
        <button [disabled]="loading" (click)="onSubmit()" class="form-button2">
          <span *ngIf="loading" class="spinner-border"></span>
          TAK
        </button>
      </div>
      <div class="button-position2">
        <button (click)="onSubmitcheck()" class="form-button2">
          NIE
        </button>
      </div>
    </div>
  </div>
</div>