.horizontal_menu_box
{
  margin: 0px;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 153, 0);
}

li
{
  float: left;
  display: inline;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover, li a:active
{
  background-color: rgb(204, 122, 0);
  cursor: pointer;
}